.home-page-container {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* left */

.home-left {
    height: 100%;
    width: 50%;
    background: linear-gradient(#D1D4D6, #296A9B);
}

/* left  sign */

.sign {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-padding {
    height: 90%;
    width: 50%;
}

.sign-padding-img {
    height: 100%;
    width: 100%;
    position: relative;
}

.sign-img-1 {
    height: 100%;
    width: 100%;
}

.sign-img-2 {
    height: 100%;
    width: 100%;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

/* left sum menu*/

.left-sum-menu {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* left-menu-* */

.left-menu-1 {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-menu-2 {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-menu-3 {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* left-menu-padding */

.left-menu-padding {
    height: 70%;
    width: 90%;
}

.left-button {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #C9D4DE;
    box-shadow: 10px 5px 5px #7B9AB1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left button-inside */

.left-button-inside {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-img {
    flex: 1;
}

.left-back {
    height: 100%;
    width: 100%;
    background-color: #2D6C9C;
    box-shadow: 10px 5px 5px #7B9AB1;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-back-img {
    height: 60%;
    width: 50%;
}

.left-text {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text-in {
    font-size: 2em;
}

/* left toggle-button */

.left-toggle-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn {
    height: 40%;
    width: 80%;
    background-color: #D3D3D3;
    border-radius: 4em;
    padding: 4%;
    box-shadow: 10px 5px 5px #7B9AB1;
    transition: all 300ms ease-in-out;
}

.toggle-btn > .inner-circle {
    height: 100%;
    width: 50%;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active {
    background-color: #2D6C9C;
}

.toggle-btn.active > .inner-circle {
    margin-left: 50%;
}
/* left end */

/* right start */

.home-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ABACAC, #305E81);
}

.right-sum-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* right menu */

.right-menu-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 100%;
}

.right-menu-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 100%;
}

.right-menu-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 100%;
}

/* right menu padding */

.right-menu-padding-1 {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.right-menu-padding-2 {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}


.right-menu-padding-3 {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

/* right menu padding img */

.right-menu-padding-img-1 {
    height: 100%;
    width: 55%;
    position: relative;
}

.right-menu-img-1 {
    height: 100%;
    width: 100%;
}

.right-menu-text-1 {
	text-align: center;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: large;
}

/* right menu padding img */

.right-menu-padding-img-2 {
    height: 100%;
    width: 55%;
    position: relative;
}

.right-menu-img-2 {
    height: 100%;
    width: 100%;
}

.right-menu-text-2 {
	text-align: center;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: large;
}

/* right menu padding img */

.right-menu-padding-img-3 {
    height: 100%;
    width: 55%;
    position: relative;
}

.right-menu-img-3 {
    height: 100%;
    width: 100%;
}

.right-menu-text-3 {
	text-align: center;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: large;
}

/* right link */

.right-link {
    display: contents;
}

/* right menu padding images */

.home-right-img {
    height: 100%;
    width: 80%;
}

/* right end */